@{
    Layout = "~/Layouts/MasterLayout.cshtml";
}
<main>
    <div class="container">
        <h1>Contact us</h1>

        <div class="row">
            <div class="col-md-7">
                <form action="send" method="POST">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Your name" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Your email" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <input type="phone" class="form-control" placeholder="Your phone" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class="input-group mb-3">
                        <textarea class="form-control" placeholder="Your message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send message</button>
                </form>
            </div>
            <div class="col-md-4 offset-md-1">
                <h2>Kontakt</h2>
                <p>63 18 30 00</p>
                <p>Mandag - torsdag kl. 07.30-15.30</p>
                <p>Fredag kl. 07.30-15.00</p>
            </div>
        </div>
    </div>
</main>